---
import { getCollection, render } from 'astro:content'
import Seo from '@components/seo.astro'
import Layout from '@layouts/layout.astro'
import Prose from '@components/prose.astro'
import { SITE } from '@constants'
import { defaultDateFormat, isoDateFormat } from '@utils'
import SkipNavContent from '@components/a11y/skip-nav-content.astro'
import Spacer from '@components/spacer.astro'
import Aside from '@components/aside.astro'
import TagLinks from '@components/tag-links.astro'

export async function getStaticPaths() {
	const entries = await getCollection('blog')

	return entries.map((e) => ({
		params: {
			slug: e.data.slug,
		},
		props: {
			entry: e,
		},
	}))
}

const { entry } = Astro.props
const { data: post } = entry
const { Content } = await render(entry)
---

<Layout>
	<Seo slot="seo" forceTitle={post.title} description={post.description} image={post.image}>
		<meta name="twitter:label1" value="Autor" />
		<meta name="twitter:data1" data-pagefind-meta="author" value={SITE.defaultAuthor} />
		<meta name="twitter:label2" value="Tagi" />
		<meta name="twitter:data2" value={post.tags.join(', ')} />
		<meta name="article:published_time" data-pagefind-meta="published_time" content={isoDateFormat(post.date)} />
		<meta name="article:modified_time" data-pagefind-meta="modified_time" content={isoDateFormat(post.lastUpdated)} />
	</Seo>
	<SkipNavContent searchIndex={post.searchIndex}>
		<Prose>
			<h1 class="mb-0!" data-pagefind-meta="title">{post.title}</h1>
			<Spacer axis="vertical" size={4} />
			<div class="text-faded">
				{defaultDateFormat(post.date)}
			</div>
			<span class="hidden"><TagLinks tags={post.tags} /></span>
			<Spacer axis="vertical" size={12} />
			<Content components={{ Aside }} />
		</Prose>
	</SkipNavContent>
</Layout>
