---
import SkipNavContent from '@components/a11y/skip-nav-content.astro'
import Link from '@components/link.astro'
import Seo from '@components/seo.astro'
import Spacer from '@components/spacer.astro'
import { FRONTMATTER_TAGS } from '@constants'
import Layout from '@layouts/layout.astro'
import { defaultDateFormat, getPostsByTag } from '@utils'
import { getCollection } from 'astro:content'

export async function getStaticPaths() {
	const entries = await getCollection('blog')

	let result = []

	for (const [tagName, tagSlug] of FRONTMATTER_TAGS) {
		const postsWithTag = getPostsByTag(entries, tagName)

		result.push({
			params: {
				tag: tagSlug,
			},
			props: {
				tagName,
				tagSlug,
				postsWithTag,
			},
		})
	}

	return result
}

const { tagName, postsWithTag } = Astro.props
---

<Layout>
	<Seo slot="seo" title={`Tag: ${tagName}`} />
	<SkipNavContent>
		<div class="border-b border-border pb-4 flex justify-between items-center">
			<h1 class="font-medium text-xl md:text-2xl lg:text-3xl text-highlight">Tag: {tagName}</h1>
			<div><Link href="/tags/">Wszystkie tagi</Link></div>
		</div>
		<Spacer axis="vertical" size={8} />
		<div class="flex gap-10 flex-col">
			{
				postsWithTag.map(({ data: post }) => (
					<div>
						<Link variant="highlight" href={`/blog/${post.slug}/`}>
							{post.title}
						</Link>
						<Spacer axis="vertical" size={2} />
						<div class="text-faded">
							{defaultDateFormat(post.date)} — {post.tags.join(', ')}
						</div>
					</div>
				))
			}
		</div>
	</SkipNavContent>
</Layout>
