---
import type { AsideType } from '@constants'
import { capitalize } from '@utils'
import Icon from './icon.astro'

interface Props {
	type: AsideType
	title: string
}

const { title: _title, type } = Astro.props
const capitalizedType = capitalize(type)
const title = _title === '' ? capitalizedType : _title

const styleVariants: Record<AsideType, { bg: string; accent: string; border: string }> = {
	note: {
		bg: 'bg-blue-100',
		accent: 'text-blue-600',
		border: 'border-blue-400',
	},
	tip: {
		bg: 'bg-purple-100',
		accent: 'text-purple-600',
		border: 'border-purple-400',
	},
	caution: {
		bg: 'bg-yellow-100',
		accent: 'text-yellow-600',
		border: 'border-yellow-400',
	},
	danger: {
		bg: 'bg-red-100',
		accent: 'text-red-600',
		border: 'border-red-400',
	},
}

const svgStyle = 'w-7 h-7 shrink-0 fill-current'
---

<aside
	aria-label={capitalizedType}
	class={`${styleVariants[type].bg} p-4 my-6 rounded-sm border-l-4 ${styleVariants[type].border}`}
>
	<p aria-hidden="true" class={`flex gap-4 items-center font-semibold ${styleVariants[type].accent} mt-0!`}>
		<Icon name={type} class={svgStyle} />
		{title}
	</p>
	<div class="[&>:first-child]:mt-0 [&>:last-child]:mb-0">
		<slot />
	</div>
</aside>
